# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage
test-results/
playwright-report/

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.key
*.cert
*.secret

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Env files
.env
.env*
!.env.example
!.env.template

# Ignorar archivos sensibles
/lib/firebase-admin-key.json

# Vercel
.vercel

# Netlify, Firebase, etc.
.netlify
.firebase

# Editor and IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Linting and Formatting
.eslintcache
.stylelintcache
.prettiercache

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Blog or Content
/content/drafts/
/data/cache/

# Development Tools
.husky/